@model IEnumerable<WebApplication1.Entities.Product>


@{
    ViewData["Title"] = "Index";
}

<h2>Product Index</h2>

<table class="table table-striped">
	<thead><tr><td>Name</td><td>Quantity</td><td>Cost(N)</td><td>Size</td><td>Expiry Date</td></tr></thead>
	<tbody>
		@foreach(var prod in Model)
		{
			<tr><td>@prod.Name</td><td>@prod.Quantity</td><td>@prod.Cost</td><td>@prod.Size</td><td>@prod.Expiry.ToShortDateString()</td></tr>
		}
	</tbody>
</table>